<div class="toolbar" [ngClass]="{'not-in-top': notInTop}">
    <div class="link-container">
        <div class="link" *ngFor="let localLink of vLocalLinks">
            <a [routerLink]="localLink.path" routerLinkActive="link-active">{{localLink.name}}</a>
        </div>
    </div>

    <div class="menu-mobile-button"
        [ngClass]="{'menu-mobile-button-opened': menuMobileOpened}"
        (click)="menuMobileOpened = !menuMobileOpened"></div>

    <div class="link-mobile-container" [ngClass]="{'link-mobile-menu-opened': menuMobileOpened}">
        <div class="link-mobile" *ngFor="let localLink of vLocalLinks"
            (click)="menuMobileOpened = false">
            <a [routerLink]="localLink.path">{{localLink.name}}</a>
        </div>
    </div>
</div>