.internal-email-list-container {

    .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--principal-color);
        color: var(--principal-color-light);

    }

    .listado-emails {
        margin: 30px 50px;

        .obteniendo-correos {
            text-align: center;
            background-color: var(--principal-color-light);
            color: var(--principal-color);
            padding: 30px 10px;
            border-radius: 10px;
            text-shadow: 1px 1px 3px var(--principal-color-40);
            font-size: 18px;
        }
        
        .mensajes-pendientes {
            text-align: center;
            background-color: var(--principal-color);
            color: var(--principal-color-light);
            padding: 30px 10px;
            border-radius: 10px;
            text-shadow: 1px 1px 3px var(--principal-color-40);
            font-size: 18px;
            margin-bottom: 30px;
        }

        input {
            width: 100%;
            height: 40px;
            padding: 0px 10px;
            border: 1px solid var(--principal-color);
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 14px;
            font-weight: 700;
            color: var(--principal-color);
            margin-bottom: 30px;
        }

        .mat-column-acciones {
            max-width: 100px;
        }

        .mat-row-no-mails {
            text-align: center;

            td {
                padding: 30px 10px;
            }
        }

        .mat-row {
            cursor: pointer;
            background-color: var(--principal-color-light);
            transition: 0.2s linear all;

            mat-cell {
                color: var(--principal-color);
            }

            &:hover {
                background-color: white;
                transition: 0.2s linear all;

                mat-cell {
                    color: black;

                }
            }
        }

        .no-leido {
            background-color: var(--principal-color);
            font-weight: 900;
            transition: 0.2s linear all;

            mat-cell {
                color: var(--principal-color-light);
            }

            &:hover {
                background-color: #4384a4;
                transition: 0.2s linear all;

                mat-cell {
                    color: white;
                }
            }
        }
    }


}