<div class="servicios-container">
  <div class="header-container">
    <div class="cortinilla">
      <div class="logo animate__animated animate__fadeIn">
        <img src="../../../assets/logo-hasspro-sin-fondo.png" />
      </div>
      <h1 class="animate__animated animate__fadeIn">
        ASISTENTE PROFESIONAL DE HOSTELERÍA
      </h1>
    </div>
  </div>

  <div class="servicios-items-container">
    <div class="title">Consultoría Financiera</div>
    <div class="subtitle">Servicios</div>

    <div class="listado-servicios">
      <div class="item-list" *ngFor="let item of vDatos">
        <div class="title-item-list">
          <div class="icon">
            <img [src]="item.iconPath" />
          </div>
          <div class="text">
            {{ item.titulo }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="solicita-nuestros-servicios">
    <div class="texto">
      <div class="title">¿Quieres solicitar nuestros servicios?</div>
    </div>

    <div class="boton">
      <button class="boton-contacta-con-nosotros">Contacta con nosotros</button>
    </div>
  </div>
</div>
