<div class="home-container">

    <div class="header-container">
        <div class="cortinilla">
            <div class="logo animate__animated animate__fadeIn">
                <img src="../../../assets/logo-hasspro-sin-fondo.png" />
            </div>
            <h1 class="animate__animated animate__fadeIn">ASISTENTE PROFESIONAL DE HOSTELERÍA</h1>
        </div>

    </div>

    <div class="messages-container">

        <div class="title animate__animated animate__fadeIn animate__delay-1s">
            <h1>{{ tituloMensajes }}</h1>
        </div>

        <div class="mensajes-container animate__animated animate__fadeIn animate__delay-1s">
            
            <div class="item-card" *ngFor="let itemCard of vCards">
                <div>
                    <img [src]="iconPath + itemCard.icon" />
                </div>
                <div>
                    <h2>{{ itemCard.title }}</h2>
                    <div *ngFor="let mensaje of itemCard.vMensajes">
                        {{ mensaje }}
                    </div>
                </div>
            </div>

        </div>

        <div class="encuentra-tu-servicio">
            <div class="distincion-negocio">
                <h2>Distinción de su Negocio</h2>
                <div class="img-container">
                    <img src="../../../assets/logo-hasspro-sin-fondo.png" />
                </div>
                <p>En los establecimientos en los que trabajemos ofrecemos una distinción de <b>Hasspro</b>, para asegurar la calidad del servicio a los potenciales clientes. ¿Quieres saber más? Pues <b>pulsa aquí abajo</b> y...</p>
            </div>
            <div class="button-service animate__animated animate__fadeIn animate__delay-1s">
                <button routerLink="/servicios">Encuentra tu servicio</button>
            </div>
        </div>
    </div>

    <div class="direccion-container">

        <div class="nos-conocemos-container animate__animated animate__fadeIn animate__delay-1s">
            <div class="title">
                ¿Nos conocemos?
            </div>

            <div class="subtitle">
                Queremos escucharte y compartir nuestra experiencia contigo. Puedes encontrarnos en todos estos sitios:
            </div>

            <div class="contact-list">
                <div class="item-contacto" *ngFor="let itemContacto of vDondeEncontrarnos">
                    <div class="icon">
                        <img [src]="iconPath + itemContacto.icon" />
                    </div>
                    <div class="text">
                        {{ itemContacto.text }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="map-container">
            <div id="mapa-container"></div>
        </div>
    </div>
    

</div>