.home-container {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;

    .header-container {

        background-image: url(../../../assets/fondo-header-home.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;

        .cortinilla {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #00000080;
            padding: 80px 0px;
            box-sizing: border-box;

            .logo img {
                width: 240px;
                height: auto;
            }

            h1 {
                font-family: 'Cormorant', serif;
                font-size: 2.5rem;
                font-weight: 700;
                color: var(--principal-color-light);
                text-align: center;
                text-shadow: 1px 1px 5px var(--principal-color-light-40);
                border-top: 1px solid var(--principal-color-light);
                border-bottom: 1px solid var(--principal-color-light);
                padding: 8px 20px;
                box-sizing: border-box;
            }
        }
    }

    .messages-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 80px 0px;

        .title h1 {
            font-size: 2.5rem;
            font-weight: 700;
            color: var(--principal-color);
            text-align: center;
            text-shadow: 1px 1px 5px var(--principal-color-40);
            border-bottom: 1px solid var(--principal-color);
            padding: 8px 20px;
            margin-bottom: 60px;
        }

        .mensajes-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            max-width: 1200px;

            .item-mensaje {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 30px;

                width: 270px;
                height: 250px;
                border: 1px solid var(--principal-color-light);
                border-radius: 10px;
                padding: 50px 30px 20px 30px;
                background-color: var(--principal-color-light-20);
                box-shadow: 1px 1px 10px var(--principal-color-40);

                .icon img {
                    width: 60px;
                    height: auto;
                }

                .texto {
                    font-size: 18px;
                    font-weight: 800;
                    color: var(--principal-color);
                    text-align: center;
                }
            }
        }

        .button-service {
            margin-top: 80px;

            button {
                padding: 10px 30px;
                background-color: transparent;
                color: var(--principal-color);
                border: 2px solid var(--principal-color);
                font-size: 24px;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background-color: var(--principal-color);
                    color: var(--principal-color-light);
                    border: 2px solid var(--principal-color);
                    transition: 0.2s;
                }
            }
        }
    }

    .direccion-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        background-color: var(--principal-color);
        color: var(--white-color);

        .nos-conocemos-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            padding: 100px 40px;
            width: calc(50% - 80px);
            box-sizing: border-box;

            .title {
                font-size: 2.2rem;
                font-weight: 700;
                text-align: center;
                text-shadow: 1px 1px 5px var(--principal-color-light-40);
                border-bottom: 1px solid var(--principal-color-light);
                padding: 8px 20px;
            }

            .subtitle {
                font-size: 1.2rem;
                max-width: 600px;
                font-weight: 700;
                text-align: start;
                padding: 8px 20px
            }

            .contact-list {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 20px;

                .item-contacto {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: row;
                    gap: 20px;

                    .icon img {
                        width: 30px;
                        height: auto;
                    }

                    .text {
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
            }
        }

        .map-container {
            width: 50%;
            height: 710px;
            box-sizing: border-box;

            #mapa-container {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

            }
        }
    }
}




/* lg */
@media screen and (min-width: 1280px) {}

/* md */
@media screen and (min-width: 960px) and (max-width: 1279px) {}

/* sm */
@media screen and (min-width: 600px) and (max-width: 959px) {
    .home-container {
        .header-container {
            .cortinilla {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: #00000080;
                padding: 140px 0px 80px 0px;

                .logo img {
                    width: 240px;
                    height: auto;
                }

                h1 {
                    font-size: 1.8rem;
                    width: calc(100% - 16px);
                    padding: 8px 20px;
                }
            }
        }

        .direccion-container {
            flex-direction: column;
            
            .nos-conocemos-container, .map-container {
                width: 100%;
            }

            .nos-conocemos-container {
                padding: 60px 20px;
            }
        }
    }
}

/* xs */
@media screen and (max-width: 599px) {
    .home-container {
        .header-container {
            .cortinilla {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: #00000080;
                padding: 140px 0px 80px 0px;

                .logo img {
                    width: 240px;
                    height: auto;
                }

                h1 {
                    font-size: 1.6rem;
                    width: calc(100% - 16px);
                    padding: 8px 20px;
                }
            }
        }

        .direccion-container {
            flex-direction: column;
            .nos-conocemos-container, .map-container {
                width: 100%;
            }
        }
    }
}