<div class="sobre-hasspro-container">

    <div class="header-container">
        <div class="cortinilla">
            <div class="logo animate__animated animate__fadeIn">
                <img src="../../../assets/logo-hasspro-sin-fondo.png" />
            </div>
            <h1 class="animate__animated animate__fadeIn">ASISTENTE PROFESIONAL DE HOSTELERÍA</h1>
        </div>
    </div>

    <div class="sobre-hasspro-card">
        <div class="title">
            Sobre Hasspro
        </div>

        <div class="parrafo">
            Hasspro, fundada por <b>Abel Ávila Alcalde</b> tras la formación, estudios y haber conocido de primera mano el sector hostelero, trabajando con diferentes responsabilidades, en diferentes establecimientos y  haber obtenido el titulo de técnico en gestión administrativa, el titulo técnico superior en administración y finanzas y me encuentro actualmente terminando el Grado en finanzas y contabilidad en la Universidad de Extremadura.
        </div>

        <div class="parrafo">
            Tras mi dilatada experiencia encontré mi oportunidad de negocio al observar que las necesidades del restaurador son muchas y variadas, y no se pueden limitar solamente a las funciones de camarero o cocinero, sino que deben aprender a gestionar su negocio, para poder sacarle el mayor rendimiento. 
        </div>

        <div class="parrafo">
            Mi <b>motivación</b> para emprender en este negocio, es <b>contribuir a mejorar la situación de los establecimientos</b> de mi ciudad natal. La hostería, un sector en auge actualmente, pero que en ocasiones denostado por una difícil conciliación, los altos costes o la poca formación.
        </div>

        <div class="parrafo">
            Busco ofrecer una mejora de la profesionalidad del sector y contribuir a una mayor rentabilidad de los negocios.
        </div>
    </div>


</div>