
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hasspro-primary: mat.define-palette(mat.$indigo-palette);
$hasspro-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hasspro-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hasspro-theme: mat.define-light-theme((
  color: (
    primary: $hasspro-primary,
    accent: $hasspro-accent,
    warn: $hasspro-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($hasspro-theme);

/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

* {
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --white-color: #ededed;

    --principal-color: #397d9f;
    --principal-color-bold: #05364e;
    --principal-color-20: #397d9f20;
    --principal-color-40: #397d9f40;
    --principal-color-80: #397d9f80;
    
    --principal-color-light: #e3edf2;
    --principal-color-light-20: #e3edf220;
    --principal-color-light-40: #e3edf240;
    --principal-color-light-80: #e3edf280;

    --principal-color-light-oscuro: #d0e2eb;

    --animate-delay: 0.5s;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
