<div class="layout-container">
  <div class="header">
    <app-header (cookiesAccepted)="onClickAceptarCookies()"></app-header>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="footbar">
    <app-footer (cookiesAccepted)="onClickAceptarCookies()"></app-footer>
  </div>

  <div class="cookies-message" *ngIf="googleAnalyticsCookieAccepted === false">
    <div>
      🍪 Utilizamos cookies y otras tecnologías de seguimiento para mejorar tu
      experiencia en nuestro sitio web y para fines analíticos. Al continuar
      navegando en este sitio, aceptas nuestro uso de cookies. Puedes cambiar
      tus preferencias de cookies en cualquier momento y obtener más información
      en nuestra <a routerLink="/politica-cookies" (click)="onClickAceptarCookies()">política de cookies</a> y
      <a (click)="onClickAceptarCookies()">política de privacidad</a>.
    </div>
    <div class="cookies-acciones">
      <button (click)="onClickAceptarCookies()">Aceptar cookies</button>
      <button>Cancelar</button>
    </div>
  </div>
</div>
