<div class="container">
  <div class="header-container">
    <div class="cortinilla">
      <div class="logo animate__animated animate__fadeIn">
        <img src="../../../assets/logo-hasspro-sin-fondo.png" />
      </div>
      <h1 class="animate__animated animate__fadeIn">
        ASISTENTE PROFESIONAL DE HOSTELERÍA
      </h1>
    </div>
  </div>
  <div class="cookies-container">
    <div class="titulo">Política de cookies</div>
    <div class="parrafo">Última actualización: 16/08/2023</div>
    <div class="parrafo">
      Nuestra página web utiliza cookies y tecnologías similares para mejorar tu
      experiencia y ofrecerte un servicio personalizado. Esta política de
      cookies explica qué son las cookies, cómo las utilizamos y cómo puedes
      gestionar tus preferencias de cookies.
    </div>
    <div class="subtitle">¿Qué son las cookies?</div>
    <div class="parrafo">
      Las cookies son pequeños archivos de texto que se almacenan en tu
      dispositivo cuando visitas nuestro sitio web. Estas cookies permiten que
      nuestro sitio web recuerde tus acciones y preferencias (como el idioma, la
      autenticación de inicio de sesión y otras configuraciones) durante un
      período de tiempo, para que no tengas que volver a introducirlos cada vez
      que regreses al sitio o naveges entre sus páginas.
    </div>
    <div class="subtitle">¿Cómo utilizamos las cookies?</div>
    <div class="parrafo">
      Utilizamos cookies por razones de <b>Análisis y Rendimiento</b>, para
      recopilar información sobre cómo los visitantes utilizan nuestro sitio
      web. Esto nos ayuda a entender mejor qué contenidos son populares y cómo
      podemos mejorar la experiencia del usuario.
    </div>
    <div class="subtitle">Más Información</div>
    <div class="parrafo">
      Para obtener más información sobre cómo utilizamos las cookies y cómo
      tratamos tus datos personales, por favor consulta nuestra
      <a>política de privacidad</a>.
    </div>
    <div class="subtitle">Contacto</div>
    <div class="parrafo">
      Si tienes alguna pregunta sobre nuestra política de cookies, por favor
      contáctanos a través de <a>nuestro formulario de contacto</a>.
    </div>
  </div>
</div>
